    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/index">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/index">View Therapists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patients">View Patients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/patients/new">Create New Patient</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="patients#edit">Edit Patient</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add PT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="patients#edit">Remove Patient</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Remove PT</a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h1>Physical Therapists</h1>

          <section class="row text-center placeholders">

            <% @users.each do |user| %>
              <div class="col-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4><%= user.firstname %> <%= user.lastname %></h4>
                <a href="/schedule" class="btn btn-outline-info" action>View Schedule</a>
              </div>   
            <% end %>

          </section>
        </main>
      </div>
    </div>