<div class="container">
<div class="row">
      <div class="starter-template">
        <h1>Prime Therapy</h1> <br>
        <p class="lead">Simplicity at its best, for all Therapeutic Clinics. Introducting a sleek, easy-to-use database whose top priority is efficiency in the workplace. With enterprise-grade security, we got you covered.
          <br> <br>
          • Organize all Therapists and their patients
          <br>
          • Collect and store documentation digitally
          <br>
        • Easy access to your data, anytime</p>
        <button type="button" class="btn btn-success">Get Started</button>
      </div>
    </div>
      <center><img src="https://ak7.picdn.net/shutterstock/videos/12560117/thumb/6.jpg" alt="computer"></center>
      <br><br><br>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-4">
          <h2>Simplicity</h2>
          <p>Easy to use database that will make your job easier than ever before! Work time in the office will run smoothly and efficiently without the hassle of handling paperwork.</p>
          <p><a class="btn btn-primary" href="#" role="button">How simple?</a></p>
        </div>
        <div class="col-sm-4">
          <h2>Organized</h2>
          <p>Keep your clinic's documentation organized in multiple ways. This program makes it easily achievable to retrieve and submit all documentation in an instant.</p>
          <p><a class="btn btn-primary" href="#" role="button">Organized how?</a></p>
       </div>
        <div class="col-sm-4">
          <h2>Security</h2>
          <p>Our very secure database strictly limits the access of all your office's documents. Therapists have access to their client's documents ONLY during their client's therapy session. All documentation is viewable to the clinic's Doctor.  </p>
          <p><a class="btn btn-primary" href="#" role="button">How secure?</a></p>
        </div> 
<br>

<div class="jumbotron">
  <h2 class="display-4">Still unsure what we are? This is what it means to "Go Paperless".</h2>
  <p class="lead">"Prime Therapy" is a database software that organizes all your Therapist's and patient's paperwork. It also allows you to directly edit all documents through our secure database, in order to stop the physical labor of writing down all information. Once all documentation is digitalized, it completely eliminates the hassle of retrieving and storing paperwork into files for each patient. This will increase the productivity of your clinic by reducing the time it takes to find the patient’s files, adding paperwork to the files, and storing the files away. The quality of the therapists' appointments will increase since the therapist will have more focus on the client, as documenting will require typing versus the traditional writing.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>


